<!DOCTYPE HTML>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf-extras-springsecurity5"
	layout:decorate="Padrao">

<section layout:fragment="conteudo">
<div class="card mb-3">
  <img class="card-img-top">
  <div class="card-body">
  <div class="table-responsive">
                <span>AGUARDE A PROXIMA ATUALIZAÇÂO. obg</span>
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Produto</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col" class="text-right">Preço</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        
                    </tbody>
                </table>
            </div>
        </div>
  
  </div>

</section>
</html>